; Database connection information
[DB]
type=mysql
name=test
host=mydbsvr
login=root
password=mypass

; Output settings
[OUTPUT]
; Output dir
dir=/tmp/dumperor
; How many lines will be fetched from the database per table
limit=1000
; Should table structures be showed in web browser ?
showtable=1
; Should create-table statements be showed in web browser ?
showcreate=1
; HTML page charset
charset=utf-8

; Tables and columns which should be escaped
[EXCLUSIVE]
;tables=tbl1,tbl2
;columns=col1,col7

; Tables specified in INCLUSIVE mode will be exported
[INCLUSIVE]
;tables=tbl8

; Columns which should be filled with fake data, and the fake data
[FAKE]
;tbl2.col1=******

; Common conditions
[COND]
;col6=1

[COMMON_TYPE_NAME]
;time=datetime
;timestamp=datetime

[COMMON_COLUMN_STRUCTURE]
;number,6,0=smallint,0,0
;decimal,6,0=smallint,0,0
